@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.Section1 {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: center;
    font-size: 3.75rem;
    font-family: 'Amiri', serif;
    line-height: .5;
    font-weight: 400;
}