.section__hero {
    margin-right: 100px;
    margin-left: 100px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.sect__soft_eng {
    margin: 0;
    align-self: end;
    font-size: 150px;
    grid-column: 1/3;
    grid-row: 1/3;
}

.sect__second_desc {
    text-align: justify;
    width: 200px;
    align-self: end;
    grid-column: 3/4;
    grid-row: 2/3;
}


.sect__third_desc {
    width: 600px;
    text-align: justify;
    grid-column: 1/3;
    grid-row: 3/4;
}

.sect__hero_links {
    grid-column: 3/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;

}

.hero__links>a {
    text-decoration: none;
    color: black;
}