.section__hero {
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
    display: grid;
    /* grid-template-columns: 1fr minmax(fit-content, 10%) fit-content(10%); */
    grid-template-columns: 1fr .3fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.sect__soft_eng {
    visibility: inherit;
    font-family: 'Helvetica';
    margin: 0;
    align-self: end;
    font-size: 250px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.sect__second_desc {
    font-family: 'Helvetica';
    padding-bottom: 2.5rem;
    text-align: justify;
    width: 250px;
    align-self: end;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.3rem;
    justify-self: start;
}


.sect__third_desc {
    font-family: 'Helvetica';
    font-size: 20px;
    width: 600px;
    text-align: justify;
    grid-column: 1/2;
    grid-row: 3/4;
}

.sect__hero_links {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;

}

.hero__links>a {
    font-family: 'Heiti TC';
    text-decoration: none;
    color: black;

}